<h2>詳細ページ</h2>
<div class="details">
 <div class="show">
  <%= image_tag @tweet.image_url, size: "200x300" if @tweet.image? %>

 <div class="booktitle">
  <%= @tweet.body %>
  </div>

  <div class="backpacker">
  <%= @tweet.backpacker %>
  </div>

  <div class="price">
  <%= @tweet.price %>
  </div>

  <% if user_signed_in? %>
      <% if current_user.already_liked?(@tweet) %>
          <%= link_to tweet_like_path(@tweet), method: :delete do %>
            <i class="fas fa-bookmark"></i><%= @tweet.likes.count %>
          <% end %>
      <% else %>
          <%= link_to tweet_likes_path(@tweet), method: :post do %>
            <i class="fas fa-bookmark"></i><%= @tweet.likes.count %>
          <% end %>
      <% end %>
  <% else %>
  <i class="fas fa-bookmark"></i><%= @tweet.likes.count %>
  <% end %>

 </div>

 <div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%=  @tweet.user.name %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@tweet, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
 </div>

 <%= link_to "Tweet一覧に戻る", tweets_path %>

</div>