
<h1>GeekTwitter</h1>
<h3>新規Tweet</h3>

<%= form_for @tweet do |f| %>

  
  <%= f.country_select :country %>
  <div class="field">
  <%= f.label :内容 %>
  <%= f.text_field :body, :size => 140 %>
  </div>
  
  <div class="field2">
        <%= f.label :金額 %>
        <%= f.select :price,[["~500円","~500円"],["501円~600円","501円~600円"],["601円~700円","601円~700円"],["701円~800円","701円~800円"],["801円~900円","801円~900円"],["901円~1000円","901円~1000円"],["1001円~1100円","1001円~1100円"],["1101円~1200円","1101円~1200円"],["1201円~1300円","1201円~1300円"],["1301円~1400円","1301円~1400円"],["1401円~1500円","1401円~1500円"],["1501円~","1501円~"]] , :prompt => "選択してください"%>
</div>

<div class="field3">
<%= f.label :旅の形態 %>
<%= f.select :backpacker,[["一人旅","一人旅"],["友達旅","友達旅"],["カップル旅","カップル旅"],["夫婦旅","夫婦旅"],["その他","その他"]] , :prompt => "選択してください"%>
</div>

  <div class="field4">
  <%= f.label :image %>
  <%= f.file_field :image %>
  </div>
  
  <div class="check_box">
  <span>タグ</span>
  <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
   <div>
     <%= tag.label do %>
       <%= tag.check_box %>
       <%= tag.text %>
     <% end %>
   </div>
  <% end %>
  </div>

  <div class="check_box">
    <span>タグ</span>
    <%= f.collection_check_boxes(:price_ids, Price.all, :id, :name) do |price| %>
     <div>
       <%= price.label do %>
         <%= price.check_box %>
         <%= price.text %>
       <% end %>
     </div>
   <% end %>
 </div>


     <%= f.label :lat,"緯度" %>
     <%= f.text_field :lat,:value =>"緯度", id: :lat %>
     <%= f.label :lng,"経度" %>
     <%= f.text_field :lng,:value =>"経度", id: :lng %>
   </div>
 



<h2>Map</h2>

<input id="address" type="textbox" value="GeekSalon">
<input type="button" value="検索" onclick="codeAddress()">
<p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
<div id='map'></div>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},  //東京
    zoom: 15,

  });
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true // ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
</script>

<%= f.submit "Tweetする" %>
<% end %>
<%= link_to "Tweet一覧に戻る", tweets_path %>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>